.jumbotron{
	text-align: justify;
	font-size: 14px;
	font-family: 'Chivo', sans-serif;
	padding-left: 30px;
}

.display-4{
	font-weight: bold;
	text-align: center;
	font-size: 32px;
	font-family: 'Black Ops One', cursive;
}

.card{
	margin-left: 60px;
	margin-right: 600px;
	margin-bottom: 20px;
	float: middle;
}

.card-header{
	font-size: 20px;
	font-weight: bold;
}

.card-title{
	font-size: 16px;
	font-weight: bold;
}

.card-text{
	font-size: 16px;
	font-weight: bold;
}

#exercises{
	margin-left: 60px;
	margin-bottom: 10px;
	border-style: solid;
	border-width: thin;
	border-color: lightgray;
	margin-right: 588px;
	background-color: lightgray;
	float: middle;
}

#wins{
	font-weight: bold;
}

#losses{
	font-weight: bold;
}

#rando{
	font-weight: bold;
}

#sum{
	font-weight: bold;
}

#set1{
	margin-left: 2px;
	margin-right: 1px;
}

#set2{
	margin-left: 1px;
	margin-right: 1px;
}

#set3{
	margin-left: 1px;
	margin-right: 1px;
}


#set4{
	margin-left: 1px;
	margin-right: 2px;
}

#set1:hover {
	opacity: 0.75;
}

#set2:hover {
	opacity: 0.75;
}

#set3:hover {
	opacity: 0.75;
}

#set4:hover {
	opacity: 0.75;
}

#set1:active {
	opacity: 0.5;
}

#set2:active {
	opacity: 0.5;	
}

#set3:active {
	opacity: 0.5;
}

#set4:active {
	opacity: 0.5;	
}